<oninet-modal-page>
  <form class="mt-2" [formGroup]="formGroup">
    <mat-form-field appearance="outline">
      <mat-icon matPrefix>email</mat-icon>
      <input matInput type="text" formControlName="name" placeholder="Email" />
    </mat-form-field>
    <oninet-error name="name" [form]="formGroup"></oninet-error>

    <mat-form-field appearance="outline">
      <mat-icon matPrefix>password</mat-icon>
      <input
        matInput
        type="password"
        formControlName="password"
        placeholder="Password"
      />
    </mat-form-field>
    <oninet-error name="password" [form]="formGroup"></oninet-error>

    <button
      color="primary"
      class="xl"
      (click)="login(formGroup.value)"
      [disabled]="(busy$ | async) || formGroup.invalid || formGroup.pristine"
      mat-raised-button
      *ngIf="!(busy$ | async)"
    >
      Login
    </button>
    <div *ngIf="busy$ | async" class="row">
      <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
    </div>
  </form>

  <div class="bg-primary-dark mt-2 text-primary py-1">
    <div class="flex flex-row items-center justify-between flex-wrap md:flex-nowrap">
      <a class="grow" mat-button routerLink="/signup">Need an account?</a>
      <a class="grow" mat-button routerLink="/forgot">Forgot your password?</a>
    </div>
  </div>
</oninet-modal-page>
